//screen sizes
$mobile-large: 512px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

//colors
$black: #000000;
$white: #ffffff;
$blue: #1976d2;
$green: #4caf50;
$yellow: #eea236;
$grey: #737373;
$red: #E53935;

//timeline variables
$duration: 250ms;
$timeline-margin-top: 10px;