@use '../../../../scss/generic/variables' as vars;

.timeline-entry {
  display: flex;
  align-items: stretch;
  position: relative;

  &:not(:last-child) {
    &::before {
      position: absolute;
      top: vars.$timeline-margin-top;
      height: 100%;
      padding-right: 11px;
      border-right: 2px solid vars.$grey;
      content: '';
    }
  }

  .timeline-header {
    display: flex;
    width: 100%;

    .timeline-accordion-header {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .timeline-date {
        font-size: 13px;
      }
    }
  }

  .timeline-step-marker {
    position: relative;
    display: table-cell;
    height: 24px;
    min-height: 24px;
    width: 24px;
    min-width: 24px;
    border: 4px solid #f2f2f2;
    border-radius: 50%;
    background-color: vars.$white;
    z-index: 0;
    margin-right: 10px;
    margin-top: vars.$timeline-margin-top;

    &--blue {
      border-color: vars.$blue;
    }
    &--green {
      border-color: vars.$green;
    }
    &--yellow {
      border-color: vars.$yellow;
    }
    &--grey {
      border-color: vars.$grey;
    }
    &--red {
      border-color: vars.$red;
    }
  }

  .timeline-title {
    font-size: 15px;

    @media (min-width: 1281px) {
      font-size: 17px;
    }
  }

  .timeline-time {
    text-align: right;
  }
}
