@import 'generic.scss';
@import 'components.scss';
@import 'containers.scss';

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 20px 8px;
  width: calc(100vw - 1rem);
  max-width: 1170px;
}

main {
  padding: 20px 0;
}
